global.json
scratchwork/Program.cs
scratchwork/IDidAThing.cs
scratchwork/FromMedium.cs
bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
bin/Debug/netcoreapp2.2/SeleniumCSharp.dll
bin/Debug/netcoreapp2.2/SeleniumCSharp.pdb
bin/Debug/netcoreapp2.2/SeleniumCSharp.deps.json
bin/Debug/netcoreapp2.2/SeleniumCSharp.runtimeconfig.json
bin/Debug/netcoreapp2.2/SeleniumCSharp.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/nunit.engine.netstandard.dll
bin/Debug/netcoreapp2.2/publish/Microsoft.DotNet.InternalAbstractions.dll
bin/Debug/netcoreapp2.2/publish/NUnit3.TestAdapter.dll
bin/Debug/netcoreapp2.2/publish/NUnit3.TestAdapter.pdb
bin/Debug/netcoreapp2.2/publish/Newtonsoft.Json.dll
bin/Debug/netcoreapp2.2/publish/SeleniumCSharp.dll
bin/Debug/netcoreapp2.2/publish/SeleniumCSharp.pdb
bin/Debug/netcoreapp2.2/publish/SeleniumCSharp.deps.json
bin/Debug/netcoreapp2.2/publish/SeleniumCSharp.runtimeconfig.json
bin/Debug/netcoreapp2.2/publish/System.Xml.XPath.XmlDocument.dll
bin/Debug/netcoreapp2.2/publish/WebDriver.dll
bin/Debug/netcoreapp2.2/publish/WebDriver.Support.dll
bin/Debug/netcoreapp2.2/publish/nunit.engine.netstandard.dll
bin/Debug/netcoreapp2.2/publish/nunit.framework.dll
obj/SeleniumCSharp.csproj.nuget.cache
obj/SeleniumCSharp.csproj.nuget.dgspec.json
obj/SeleniumCSharp.csproj.nuget.g.props
obj/SeleniumCSharp.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/SeleniumCSharp.dll
obj/Debug/netcoreapp2.2/SeleniumCSharp.pdb
obj/Debug/netcoreapp2.2/SeleniumCSharp.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/SeleniumCSharp.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/SeleniumCSharp.assets.cache
obj/Debug/netcoreapp2.2/SeleniumCSharp.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/SeleniumCSharp.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/SeleniumCSharp.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/project.razor.json
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
